{% if btn is defined %}
<a class="btn btn-form btn-form-delete" href="
  {{ path('app_figure_delete', {
    'id': figure.id,
    '_token': csrf_token('delete' ~ figure.id) }) 
  }}" 
  onclick="return confirm('Voulez-vous vraiment supprimer cette figure?');">
  Supprimer
</a>
{% endif %}
  
{% if btn is not defined %}
<a href="
  {{ path('app_figure_delete', {
    'id': figure.id,
    '_token': csrf_token('delete' ~ figure.id) }) 
  }}" 
  onclick="return confirm('Voulez-vous vraiment supprimer cette figure?');">
  <i class="bi-trash3-fill"></i>
</a>
{% endif %}