<form method="post" action="{{ path('app_figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette figure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
    <button class="btn btn-primary mt-4">Supprimer</button>
</form>
