{% extends 'base.html.twig' %}

{% block title %}Nouvelle Figure{% endblock %}

{% block body %}
    <h1 class="container mt-4 text-center">Créer une nouvelle Figure</h1>

<div class="container mt-4">
    <div class="form-figure-form">
    {% set add = true %}
    {{ include('figure/_form.html.twig') }}
    </div>
    
    <p class="mt-4 text-center">
    <a href="{{ path('app_user_dashboard') }}">Retour à la liste</a>
    </p>
</div>
{% endblock %}
