{% extends 'base.html.twig' %}

{% block title %}Nouvelle Figure{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Figure</h1>

    {{ include('figure/_form.html.twig') }}

    <p class="mt-4">
    <a href="{{ path('app_figure_index') }}">Retour à la liste</a>
    </p>
{% endblock %}
