body {
  letter-spacing: 0.15em;
}

a {
  color: #333333 !important;
}

.navbar a {
  color: #eee !important;
}

.navbar-brand {
  letter-spacing: 1.1em;
}

h1 {
  font-size: 3em !important;
  letter-spacing: 1.1em;
}

h1,
h4 {
  text-shadow: 1px 1px 2px black;
}

.btn-form {
  border-radius: 0;
  border: 2px solid #000;
  background-color: #333333 !important;
  color: #fff !important;
  box-shadow: 3px 3px #ccc;
  height: 35px;
  margin-bottom: 30px;
}

.btn-form:hover {
  box-shadow: none;
  transition: all 0.5s ease-out;
}

.form-container {
  margin: auto;
  max-width: 500px;
  padding: 20px;
  border: 2px solid #000;
  text-align: center;
}

.form-container input {
  margin: auto;
  width: 50%;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #000;
}

.form-figure {
  border: 2px solid #000;
  padding-bottom: 50px;
}

.form-figure-form {
  margin: auto;
  max-width: 800px;
  position: relative;
}

.form-figure input,
.form-figure textarea,
.form-figure select {
  border-radius: 0;
}

.form-figure input {
  max-width: 600px;
}

.form-figure select {
  width: 200px;
}

.btn-form-delete {
  background-color: crimson;
  color: #fff;
}

.trick-info {
  display: flex;
}

.trick-info div {
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #666;
  padding: 5px 10px;
  font-size: 13px;
}

.trick-footer {
  margin: auto;
  width: 75%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.trick-footer textarea {
  border-radius: 0;
  border: 1px solid #000;
}

input:hover,
select:hover,
textarea:hover {
  background-color: rgb(219, 239, 248);
  transition: all 1s ease-in-out;
}

.image-block {
  position: relative;
}

.edit-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 30px;
  transform: translate(-20px, 10px);
  background-color: #fff;
}

.form-add-media-new span {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-add-media {
  border: 1px solid #000;
  width: 100px;
  position: absolute;
  right: 12px;
  bottom: -30px;
}

.video iframe {
  max-width: 100%;
}

#medias-btn button {
  margin: auto;
}

#medias {
  transition: all 2s ease-out;
}

.load-more-item {
  display: none;
}

.comment-form,
.tag {
  margin: auto !important;
}

.tag div:hover,
.comment {
  background-color: aliceblue !important;
  transition: all 2s ease-out;
}

@media (max-width: 576px) {
  #medias {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}

@media (max-width: 768px) {
  h1 {
    letter-spacing: 0.3em;
  }
}
