<a href="{{ path('app_image_delete', {
            'id': image.id, 
            '_token': csrf_token('delete' ~ image.id)
        })
        }}" 
onclick="return confirm('Voulez-vous vraiment supprimer cette image?');">
<i class="bi-trash3-fill"></i>
</a>