{% extends 'base.html.twig' %}

{% block title %}Modifier l'image à la une{% endblock %}

{% block body %}
    <h1 class="container mt-4">Modifier l'image à la une</h1>

    <div class="container mt-4">
    {{ include('image/_form.html.twig') }}
    </div>
    
{% endblock %}
