{% extends 'base.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
    <h1 class="container mt-4">Ajouter une image</h1>

    <div class="container mt-4">
    {{ include('image/_form.html.twig') }}
    </div>
    
{% endblock %}
