<a href="{{ path('app_video_delete', {
            'id': video.id, 
            '_token': csrf_token('delete' ~ video.id)
        })
        }}" 
onclick="return confirm('Voulez-vous vraiment supprimer cette vidéo?');">
<i class="bi-trash3-fill"></i>
</a>